
.print-wrapper {
    display: flex;
    flex-direction: column;
}
.img-thumbnail {
    object-fit: contain !important;
    max-height: 500px !important;
}
div {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    height: 80% !important;
}
p {
    width: 100% !important;
}
