.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 1.5rem; 
  text-align: center;
  break-after: avoid-page;
  justify-self: center;
}


/* Code below are added by PNNL */

/* used in home.tsx */
.flex-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  align-content: center;
  justify-content: space-around;
}

.flex-child {
  flex: 1;
  align-self: top;
}

/* used in jobs_view.tsx */
.icon-container {
  float: right;
}

.icon-container > * {
  margin-left: 5px;
}

/* headding */
h3 {
  font-size: 1.3rem; 
  text-align: center;
}

.img-thumbnail {
  object-fit: contain;
  max-height: 500px;
}

p {
  break-before: avoid-page;
}

h2 {
  break-after: avoid-page;
  font-size: 1.25rem;
}