.label-value-section {
    position: relative;
}

.label-value-section nav {
    position: sticky;
    top: 0;
    background-color: rgba(231, 231, 231);
    z-index: 1;
    padding: 10px 0px;
}

.label-value-section ul {
    display: flex;
    flex-direction: column;
}
